openapi: 3.0.3
info:
  title: Cognipeer Console Client API
  version: 1.0.0
  description: |-
    End-user Client API for Cognipeer Console — the API-token authenticated surface served under `/api/client/v1`.

    This specification documents the endpoints available to integrations that authenticate with a Console API token (`Authorization: Bearer cpeer_...`). Tokens are created in the dashboard under **Settings → API Tokens** and are scoped to a single project.

    It does **not** cover the JWT/session-authenticated dashboard (internal) API. Feature availability may depend on the deployment's license tier; endpoints gated behind a license return `403`.

    ## Authentication
    All endpoints require a Bearer token: `Authorization: Bearer <token>`.

    ## Conventions
    - Content-Type is `application/json` unless a request is a file upload (`multipart/form-data`) or a response is binary/streamed.
    - Successful responses are typically wrapped as `{ "data": ... }`; OpenAI-compatible endpoints (chat, embeddings, moderations, responses) return the provider-shaped object directly.
    - Errors return `{ "error": "..." }` (string or object).
    - Requests may include an optional `request_id` for correlation.

    ## Official SDK
    For TypeScript/JavaScript integrations, use the official [Cognipeer Console SDK](https://cognipeer.github.io/console-sdk/).
  contact:
    name: Cognipeer Support
    url: https://github.com/Cognipeer/cognipeer-console
  license:
    name: AGPL-3.0-only
    url: https://www.gnu.org/licenses/agpl-3.0.html
servers:
  - url: https://api.cognipeer.com/api/client/v1
    description: Cognipeer managed service
  - url: "{gatewayUrl}/api/client/v1"
    description: Self-hosted / on-premise gateway
    variables:
      gatewayUrl:
        default: http://localhost:3000
        description: Scheme and host of your Console gateway
security:
  - BearerAuth: []
tags:
  - name: Chat
    description: OpenAI-compatible chat completions with streaming and tool calling
  - name: Embeddings
    description: OpenAI-compatible text embeddings
  - name: Moderations
    description: Content moderation / safety classification
  - name: Audio
    description: Speech-to-text (transcriptions, translations) and text-to-speech
  - name: OCR
    description: Synchronous OCR and asynchronous OCR jobs
  - name: Batches
    description: Asynchronous batch processing of inference requests
  - name: Spend
    description: Spend reporting and budget management
  - name: Agents
    description: Agent discovery, OpenAI-compatible Responses execution, and A2A protocol
  - name: Tools
    description: OpenAPI-backed tools and action execution
  - name: MCP
    description: Model Context Protocol servers (execute, SSE, message transports)
  - name: Browser
    description: Managed browser automation sessions and actions
  - name: Automations
    description: Scheduled and triggered automation workflows
  - name: Crawler
    description: Web crawler configurations, runs, and results
  - name: Web Search
    description: Web search across configured providers
  - name: Red Team
    description: Red-team probes, campaigns, and scan runs
  - name: Vector
    description: Vector database providers and indexes
  - name: Files
    description: File storage providers, buckets, and objects
  - name: Config
    description: Remote configuration groups, items, and resolution
  - name: Memory
    description: Persistent memory stores for agents
  - name: Prompts
    description: Prompt template management, rendering, and deployments
  - name: Knowledge Engine
    description: Retrieval-Augmented Generation (RAG) modules and documents
  - name: Guardrails
    description: Content safety and policy evaluation
  - name: PII
    description: PII detection, redaction, masking, tokenization, and detokenization
  - name: Reranker
    description: Document reranking
  - name: Evaluation
    description: Evaluation suites and runs
  - name: Tracing
    description: "Agent tracing: OTLP ingestion, sessions, and streaming traces"
paths:
  /a2a/{agentKey}:
    post:
      tags:
        - Agents
      summary: Invoke an agent over A2A (JSON-RPC 2.0)
      description: |-
        Inbound Agent2Agent (A2A) endpoint exposing an agent to external A2A clients over JSON-RPC 2.0 (protocol v1.0). Exposure is opt-in per agent (`agent.metadata.a2a`); agents that are not exposed respond 404 (indistinguishable from missing agents). The request body is a JSON-RPC envelope `{jsonrpc, id, method, params}`.

        Supported methods:
        - `message/send` — send a user message. `params.message.parts` must contain text. Omit `params.message.contextId` to start a new conversation, or supply a prior `contextId` (equal to the conversation id) to continue one. Returns a terminal `completed` task whose `id` encodes the conversation and assistant-message index and whose artifacts carry the assistant reply text. Optional caller-supplied runtime headers may be provided via `params.message.metadata.runtime_context`.
        - `tasks/get` — retrieve a previously completed task by its `params.id`; rebuilds the task from the stored conversation.
        - `tasks/cancel` — always rejected (`-32004`): tasks complete synchronously and cannot be canceled.

        Protocol-level failures (parse error, invalid params, unknown method, internal error) are returned as HTTP 200 with a JSON-RPC error object. HTTP 400/404 are returned before dispatch when the target agent is inactive or not exposed.
      operationId: invokeAgentA2a
      parameters:
        - name: agentKey
          in: path
          required: true
          description: Unique agent key of the A2A-exposed agent.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentA2aRpcRequest"
      responses:
        "200":
          description: A JSON-RPC 2.0 response envelope. Contains `result` (a completed A2A task) on success, or `error` for protocol-level failures.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentA2aRpcResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /a2a/{agentKey}/.well-known/agent-card.json:
    get:
      tags:
        - Agents
      summary: Get A2A agent card
      description: Return the Agent-to-Agent (A2A) protocol Agent Card for an exposed agent — the discovery document describing the agent's identity, transport, capabilities, skills, and security schemes. Served at the A2A well-known path.
      operationId: getA2aAgentCard
      parameters:
        - name: agentKey
          in: path
          required: true
          schema:
            type: string
          description: Key of an A2A-exposed agent.
      responses:
        "200":
          description: The A2A Agent Card.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentCard"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /agents:
    get:
      tags:
        - Agents
      summary: List agents
      description: List the agents available to the authenticated API token's project. Each entry exposes the agent key, name, description, status, creation time, and the resolved model configuration (modelKey, temperature, topP, maxTokens).
      operationId: listAgents
      parameters:
        - name: status
          in: query
          required: false
          description: Filter the returned agents by lifecycle status.
          schema:
            type: string
            enum:
              - active
              - inactive
              - draft
      responses:
        "200":
          description: The list of agents visible to the token's project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /agents/responses:
    post:
      tags:
        - Agents
      summary: Invoke an agent (published version)
      description: Invoke an agent using the OpenAI Responses API request/response format, running the PUBLISHED version of the agent. The agent is identified by the `model` field (agent key). Pass `input` as a plain string or an array of message items; use `previous_response_id` (`resp_{conversationId}`) to continue a prior conversation, and `version` to pin a specific published version. The gateway tracks conversation history server-side. This endpoint returns a single completed response object; it does not stream.
      operationId: invokeAgentResponsePublished
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentResponsesRequest"
      responses:
        "200":
          description: The completed agent response in OpenAI Responses format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /agents/{agentKey}:
    get:
      tags:
        - Agents
      summary: Get an agent
      description: Fetch a single agent by its unique key within the authenticated token's project.
      operationId: getAgent
      parameters:
        - name: agentKey
          in: path
          required: true
          description: Unique agent key.
          schema:
            type: string
      responses:
        "200":
          description: The requested agent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /audio/speech:
    post:
      tags:
        - Audio
      summary: Synthesize speech (text-to-speech)
      description: Synthesizes spoken audio from input text and returns raw audio bytes. The response Content-Type reflects the produced audio format, and X-Request-Id carries the request correlation ID.
      operationId: createAudioSpeech
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AudioSpeechRequest"
      responses:
        "200":
          description: Raw synthesized audio bytes. The Content-Type header reflects the requested response_format (audio/mpeg for mp3, etc.).
          headers:
            Content-Length:
              description: Byte length of the audio.
              schema:
                type: integer
            X-Request-Id:
              description: Request correlation ID.
              schema:
                type: string
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /audio/transcriptions:
    post:
      tags:
        - Audio
      summary: Transcribe audio
      description: Transcribes audio into text in the source language. Accepts either a multipart file upload or a JSON body with base64-encoded audio.
      operationId: createAudioTranscription
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AudioTranscriptionMultipartRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/AudioTranscriptionJsonRequest"
      responses:
        "200":
          description: Transcription result. The exact shape depends on the requested response_format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioTranscriptionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /audio/translations:
    post:
      tags:
        - Audio
      summary: Translate audio to English
      description: Transcribes audio and translates it into English. Same input handling as transcriptions, but the language and timestamp_granularities fields are not used.
      operationId: createAudioTranslation
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AudioTranslationMultipartRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/AudioTranslationJsonRequest"
      responses:
        "200":
          description: English translation result. The exact shape depends on the requested response_format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AudioTranslationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /automations:
    get:
      tags:
        - Automations
      summary: List automations
      description: Returns every platform automation (background scheduler / maintenance job) with its current derived state and metrics.
      operationId: listAutomations
      parameters: []
      responses:
        "200":
          description: All automations and their live state.
          content:
            application/json:
              schema:
                type: object
                required:
                  - automations
                properties:
                  automations:
                    type: array
                    items:
                      $ref: "#/components/schemas/AutomationView"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /automations/{key}:
    get:
      tags:
        - Automations
      summary: Get automation
      description: Returns a single automation and its current state, addressed by its stable key.
      operationId: getAutomation
      parameters:
        - name: key
          in: path
          required: true
          description: Stable automation key.
          schema:
            type: string
            enum:
              - alert-evaluation
              - browser-session-reaper
              - browser-session-reconciliation
              - inference-monitoring-poll
      responses:
        "200":
          description: The automation view.
          content:
            application/json:
              schema:
                type: object
                required:
                  - automation
                properties:
                  automation:
                    $ref: "#/components/schemas/AutomationView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /automations/{key}/pause:
    post:
      tags:
        - Automations
      summary: Pause automation
      description: Pauses the automation's scheduler so it will not run on its cadence until resumed. In-flight runs are not interrupted. No request body is required. Only valid for automations with supportsPause=true; calling it on browser-session-reconciliation returns an error.
      operationId: pauseAutomation
      parameters:
        - name: key
          in: path
          required: true
          description: Stable automation key.
          schema:
            type: string
            enum:
              - alert-evaluation
              - browser-session-reaper
              - browser-session-reconciliation
              - inference-monitoring-poll
      responses:
        "200":
          description: The automation view after being paused.
          content:
            application/json:
              schema:
                type: object
                required:
                  - automation
                properties:
                  automation:
                    $ref: "#/components/schemas/AutomationView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /automations/{key}/resume:
    post:
      tags:
        - Automations
      summary: Resume automation
      description: Resumes a paused scheduler so it runs on its cadence again. No request body is required. Only valid for pausable automations; calling it on browser-session-reconciliation returns an error.
      operationId: resumeAutomation
      parameters:
        - name: key
          in: path
          required: true
          description: Stable automation key.
          schema:
            type: string
            enum:
              - alert-evaluation
              - browser-session-reaper
              - browser-session-reconciliation
              - inference-monitoring-poll
      responses:
        "200":
          description: The automation view after being resumed.
          content:
            application/json:
              schema:
                type: object
                required:
                  - automation
                properties:
                  automation:
                    $ref: "#/components/schemas/AutomationView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /automations/{key}/run:
    post:
      tags:
        - Automations
      summary: Run automation
      description: Triggers an immediate out-of-band run of the automation and waits for it to finish before responding. No request body is required. The returned view reflects the freshly updated last-run timestamps, duration, metrics, and error.
      operationId: runAutomation
      parameters:
        - name: key
          in: path
          required: true
          description: Stable automation key.
          schema:
            type: string
            enum:
              - alert-evaluation
              - browser-session-reaper
              - browser-session-reconciliation
              - inference-monitoring-poll
      responses:
        "200":
          description: The automation view after the run completed.
          content:
            application/json:
              schema:
                type: object
                required:
                  - automation
                properties:
                  automation:
                    $ref: "#/components/schemas/AutomationView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /batches:
    get:
      tags:
        - Batches
      summary: List batches
      description: List the batch jobs created by the calling API token's project, newest first. Optionally filter by status and cap the page size.
      operationId: listBatches
      parameters:
        - name: status
          in: query
          required: false
          description: Optional batch status filter (e.g. `in_progress`, `completed`, `cancelled`).
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Page size. Defaults to 50, clamped to the range 1-500.
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 500
      responses:
        "200":
          description: A list of batch objects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags:
        - Batches
      summary: Create a batch
      description: Create an asynchronous bulk-inference batch. Provide request lines inline via `requests`, or point at a JSONL object stored in a Document Store bucket via `input_file` (mutually exclusive). Every line runs against a single target `endpoint` as a non-streaming request. The batch starts in `in_progress` and items execute via per-item queue fan-out, each consuming the submitting token's budget quota.
      operationId: createBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchCreateRequest"
      responses:
        "201":
          description: The created batch object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchObject"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /batches/{batchId}:
    get:
      tags:
        - Batches
      summary: Retrieve a batch
      description: Fetch a single batch object by id. Poll this endpoint for `status` and `request_counts` to track progress.
      operationId: getBatch
      parameters:
        - name: batchId
          in: path
          required: true
          description: The batch id.
          schema:
            type: string
      responses:
        "200":
          description: The batch object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchObject"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /batches/{batchId}/cancel:
    post:
      tags:
        - Batches
      summary: Cancel a batch
      description: "Cooperative cancel: pending items drain as `cancelled` without running, while items already running finish normally. The batch moves to `cancelling` and is finalized to `cancelled` once the counters drain. Only `in_progress` / `validating` batches can be cancelled, otherwise a 400 is returned. Returns the updated batch object."
      operationId: cancelBatch
      parameters:
        - name: batchId
          in: path
          required: true
          description: The batch id.
          schema:
            type: string
      responses:
        "200":
          description: The updated batch object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchObject"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /batches/{batchId}/items:
    get:
      tags:
        - Batches
      summary: List batch items
      description: Per-line execution status for a batch. Supports filtering by item status and offset/limit pagination.
      operationId: listBatchItems
      parameters:
        - name: batchId
          in: path
          required: true
          description: The batch id.
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: "Optional item status filter: `pending`, `running`, `succeeded`, `failed`, or `cancelled`."
          schema:
            type: string
            enum:
              - pending
              - running
              - succeeded
              - failed
              - cancelled
        - name: limit
          in: query
          required: false
          description: Page size. Defaults to 100, clamped to the range 1-1000.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: skip
          in: query
          required: false
          description: Number of items to skip for pagination (offset).
          schema:
            type: integer
            minimum: 0
      responses:
        "200":
          description: A list of batch item objects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchItemList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /batches/{batchId}/results:
    get:
      tags:
        - Batches
      summary: Download batch results (JSONL)
      description: Returns the finished items (`succeeded` and `failed`) as a JSONL document in OpenAI batch-output format, one JSON object per line. On success `response.body` holds the model output and `error` is null; on failure `response.body` is null and `error` is `{ code, message }`. The optional `status` query filters which item statuses are included.
      operationId: getBatchResults
      parameters:
        - name: batchId
          in: path
          required: true
          description: The batch id.
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Optional item status filter limiting which finished items are emitted (e.g. `succeeded`, `failed`).
          schema:
            type: string
            enum:
              - succeeded
              - failed
      responses:
        "200":
          description: "JSONL document (`Content-Type: application/jsonl; charset=utf-8`) with one OpenAI batch-output object per line."
          content:
            application/jsonl:
              schema:
                type: string
                description: 'Newline-delimited JSON. Each line is an object of shape `{ "id": string, "custom_id": string|null, "response": { "status_code": integer, "body": object|null }, "error": { "code": string, "message": string }|null }`.'
                example: |-
                  {"id":"batch_req_665f","custom_id":"req-1","response":{"status_code":200,"body":{}},"error":null}
                  {"id":"batch_req_6660","custom_id":"req-2","response":{"status_code":500,"body":null},"error":{"code":"failed","message":"..."}}
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/browsers:
    get:
      tags:
        - Browser
      summary: List browser profiles
      description: Returns all browser profiles scoped to the token's tenant/project. Browser profiles are reusable containers holding shared defaults (session config, artifact bucket, default model/runtime metadata).
      operationId: listBrowsers
      parameters:
        - name: status
          in: query
          required: false
          description: Filter profiles by status.
          schema:
            type: string
            enum:
              - active
              - disabled
        - name: search
          in: query
          required: false
          description: Free-text search across profile name/key.
          schema:
            type: string
      responses:
        "200":
          description: List of browser profiles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  browsers:
                    type: array
                    items:
                      $ref: "#/components/schemas/BrowserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags:
        - Browser
      summary: Create a browser profile
      description: Creates a new browser profile. The profile stores shared defaults such as the default session configuration, artifact bucket and default model/runtime options.
      operationId: createBrowser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrowserCreateRequest"
            example:
              name: research-browser
              defaultSessionConfig:
                headless: true
                viewport:
                  width: 1440
                  height: 900
                idleTimeoutMs: 120000
      responses:
        "201":
          description: Browser profile created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  browser:
                    $ref: "#/components/schemas/BrowserProfile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/browsers/{idOrKey}:
    get:
      tags:
        - Browser
      summary: Get a browser profile
      description: Fetches a single browser profile by its database id or its URL-friendly key.
      operationId: getBrowser
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: Browser profile id or key.
          schema:
            type: string
      responses:
        "200":
          description: The browser profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  browser:
                    $ref: "#/components/schemas/BrowserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      tags:
        - Browser
      summary: Update a browser profile
      description: Updates mutable fields on a browser profile. All fields are optional; only supplied fields are changed.
      operationId: updateBrowser
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: Browser profile id or key.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrowserUpdateRequest"
      responses:
        "200":
          description: The updated browser profile.
          content:
            application/json:
              schema:
                type: object
                properties:
                  browser:
                    $ref: "#/components/schemas/BrowserProfile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags:
        - Browser
      summary: Delete a browser profile
      description: Deletes a browser profile by id or key. Returns 204 No Content on success.
      operationId: deleteBrowser
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: Browser profile id or key.
          schema:
            type: string
      responses:
        "204":
          description: Browser profile deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions:
    get:
      tags:
        - Browser
      summary: List browser sessions
      description: Lists browser sessions for the token's tenant/project, optionally filtered by status, agent, parent browser or free text.
      operationId: listBrowserSessions
      parameters:
        - name: status
          in: query
          required: false
          description: Filter by session status.
          schema:
            type: string
            enum:
              - pending
              - running
              - idle
              - closed
              - errored
              - expired
        - name: agentId
          in: query
          required: false
          description: Filter by owning agent id.
          schema:
            type: string
        - name: browserId
          in: query
          required: false
          description: Filter by parent browser profile id.
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: Free-text search across session name/key.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of sessions to return.
          schema:
            type: integer
      responses:
        "200":
          description: List of browser sessions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: "#/components/schemas/BrowserSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags:
        - Browser
      summary: Create a browser session
      description: Opens a new browser session under a browser profile. A session is the direct Playwright-backed automation surface and always belongs to a browser profile.
      operationId: createBrowserSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrowserSessionCreateRequest"
            example:
              browserId: brw_123
              name: akbank-research
      responses:
        "201":
          description: Browser session created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    $ref: "#/components/schemas/BrowserSession"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/by-id/{sessionId}:
    delete:
      tags:
        - Browser
      summary: Delete a browser session
      description: Permanently deletes a browser session by its database id. The manager-side session is closed first (best effort), then the record is removed.
      operationId: deleteBrowserSessionById
      parameters:
        - name: sessionId
          in: path
          required: true
          description: Browser session database id.
          schema:
            type: string
      responses:
        "200":
          description: Session deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/{sessionId}:
    get:
      tags:
        - Browser
      summary: Get a browser session
      description: Fetches a single browser session by its database id.
      operationId: getBrowserSession
      parameters:
        - name: sessionId
          in: path
          required: true
          description: Browser session database id.
          schema:
            type: string
      responses:
        "200":
          description: The browser session.
          content:
            application/json:
              schema:
                type: object
                properties:
                  session:
                    $ref: "#/components/schemas/BrowserSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/{sessionId}/events:
    get:
      tags:
        - Browser
      summary: List browser session events
      description: Returns the recorded event timeline (actions, extracts, screenshots, errors) for a browser session, ordered by sequence.
      operationId: listBrowserSessionEvents
      parameters:
        - name: sessionId
          in: path
          required: true
          description: Browser session database id.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of events to return.
          schema:
            type: integer
        - name: skip
          in: query
          required: false
          description: Number of events to skip (pagination offset).
          schema:
            type: integer
      responses:
        "200":
          description: List of session events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/BrowserSessionEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/{sessionKey}:
    delete:
      tags:
        - Browser
      summary: Close a browser session
      description: Closes a live browser session identified by its stable session key. The session record is marked closed; the underlying browser context is torn down.
      operationId: closeBrowserSession
      parameters:
        - name: sessionKey
          in: path
          required: true
          description: Stable session key exposed to clients.
          schema:
            type: string
      responses:
        "200":
          description: Close result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserCloseResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/{sessionKey}/actions:
    post:
      tags:
        - Browser
      summary: Run a browser action
      description: Executes a single browser action (goto, click, hover, type, press, wait or scroll) against the live session and returns the post-action page state.
      operationId: runBrowserAction
      parameters:
        - name: sessionKey
          in: path
          required: true
          description: Stable session key exposed to clients.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrowserAction"
            example:
              type: goto
              url: https://www.akbank.com
              waitUntil: networkidle
      responses:
        "200":
          description: Action result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: "#/components/schemas/BrowserActionResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/{sessionKey}/extract:
    post:
      tags:
        - Browser
      summary: Extract content from the page
      description: Extracts text, HTML or an attribute value from one or more elements on the current page. Either `selector` or `ref` is required; `attribute` is required when `mode` is `attr`.
      operationId: extractFromBrowser
      parameters:
        - name: sessionKey
          in: path
          required: true
          description: Stable session key exposed to clients.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrowserExtractRequest"
            example:
              selector: h1
              mode: text
              multiple: true
      responses:
        "200":
          description: Extraction result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: "#/components/schemas/BrowserExtractResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/{sessionKey}/pdf:
    post:
      tags:
        - Browser
      summary: Export the page to PDF
      description: Renders the current page to a PDF (headless mode only), persists it to the session's artifact bucket, and returns an artifact reference with a download URL.
      operationId: exportBrowserSessionPdf
      parameters:
        - name: sessionKey
          in: path
          required: true
          description: Stable session key exposed to clients.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrowserPdfRequest"
      responses:
        "201":
          description: PDF persisted; artifact reference returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserArtifactResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/{sessionKey}/screenshot:
    post:
      tags:
        - Browser
      summary: Capture and persist a screenshot
      description: Captures a full-page or element screenshot, persists it to the session's artifact bucket, and returns an artifact reference with a download URL.
      operationId: captureBrowserScreenshot
      parameters:
        - name: sessionKey
          in: path
          required: true
          description: Stable session key exposed to clients.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrowserScreenshotRequest"
      responses:
        "201":
          description: Screenshot persisted; artifact reference returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserArtifactResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/{sessionKey}/screenshot/live:
    get:
      tags:
        - Browser
      summary: Stream a live screenshot
      description: Captures a screenshot of the live session and streams the raw image bytes without persisting them. Intended for low-latency UI polling. The response `Content-Type` reflects the captured image format (image/png by default; image/jpeg is possible) and `Cache-Control` is `no-store`.
      operationId: captureLiveBrowserScreenshot
      parameters:
        - name: sessionKey
          in: path
          required: true
          description: Stable session key exposed to clients.
          schema:
            type: string
        - name: fullPage
          in: query
          required: false
          description: When `true`, capture the full scrollable page rather than the viewport.
          schema:
            type: string
            enum:
              - "true"
              - "false"
      responses:
        "200":
          description: Raw screenshot image bytes.
          content:
            image/png:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/sessions/{sessionKey}/snapshot:
    get:
      tags:
        - Browser
      summary: Capture an aria snapshot
      description: Captures an aria-snapshot (YAML) of the current page together with its URL. Refs returned in the snapshot can be used for subsequent click/hover/type actions.
      operationId: captureBrowserSnapshot
      parameters:
        - name: sessionKey
          in: path
          required: true
          description: Stable session key exposed to clients.
          schema:
            type: string
      responses:
        "200":
          description: Aria snapshot and current URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserSnapshotResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/{browserKey}/mcp/message:
    post:
      tags:
        - Browser
      summary: Send a browser MCP JSON-RPC message
      description: "Sends a JSON-RPC 2.0 message to a browser profile's MCP server. Supported methods: `initialize`, `notifications/initialized`, `ping`, `tools/list`, `tools/call`. When `sessionId` matches an open SSE session the JSON-RPC response is delivered over that stream and this call returns 202 Accepted; otherwise the JSON-RPC response is returned inline (200). The browser toolset mirrors the Browser Use tools (browser_navigate, browser_click, browser_type, browser_snapshot, browser_screenshot, browser_pdf, browser_close, …)."
      operationId: sendBrowserMcpMessage
      parameters:
        - name: browserKey
          in: path
          required: true
          description: Browser profile id or key.
          schema:
            type: string
        - name: sessionId
          in: query
          required: false
          description: MCP session id returned by the SSE stream. Required for `tools/call`; when present, responses are dispatched over the SSE stream and this call returns 202.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrowserJsonRpcRequest"
            example:
              jsonrpc: "2.0"
              id: 1
              method: tools/list
      responses:
        "200":
          description: Inline JSON-RPC response (non-SSE requests).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrowserJsonRpcResponse"
        "202":
          description: Accepted. The request was a notification, or its JSON-RPC response was dispatched over the bound SSE stream.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /browser/{browserKey}/mcp/sse:
    get:
      tags:
        - Browser
      summary: Open browser MCP SSE stream
      description: Opens a Server-Sent Events stream for a browser profile's MCP server. The response carries an `X-Mcp-Session-Id` header and emits an `endpoint` SSE event containing the browser-scoped JSON-RPC message URL (with the MCP `sessionId` query bound). The browser must have status `active`.
      operationId: openBrowserMcpSse
      parameters:
        - name: browserKey
          in: path
          required: true
          description: Browser profile id or key.
          schema:
            type: string
      responses:
        "200":
          description: SSE stream. Emits an `endpoint` event with the JSON-RPC message URL; subsequent JSON-RPC responses are delivered as `message` events.
          content:
            text/event-stream:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /budgets:
    get:
      tags:
        - Spend
      summary: List budgets
      description: Returns every quota policy in the project that has a daily or monthly USD spend limit set. Other (non-budget) quota policies are filtered out.
      operationId: listBudgets
      responses:
        "200":
          description: A list of budget objects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendBudgetList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags:
        - Spend
      summary: Create a budget
      description: Create a budget policy (a quota policy with `limits.budget` set) that the quota guard enforces on live inference, embedding, and batch paths. Requires an owner or admin API token (otherwise 403). At least one of `daily_limit_usd` or `monthly_limit_usd` must be supplied; use `-1` for a limit to mean unlimited.
      operationId: createBudget
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpendBudgetCreateRequest"
      responses:
        "201":
          description: The created budget object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendBudget"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /budgets/status:
    get:
      tags:
        - Spend
      summary: Get budget status
      description: Returns current spend versus the configured limits for each window (day / month), keyed the same way enforcement counts spend. When a window has no configured limit, `limit_usd` and `remaining_usd` are null while `used_usd` still reports actual spend. `configured` is false when no budget exists for the resolved scope.
      operationId: getBudgetStatus
      parameters:
        - name: domain
          in: query
          required: false
          description: Quota domain to report. Defaults to `llm`. Invalid value returns 400.
          schema:
            type: string
            enum:
              - global
              - llm
              - embedding
              - vector
              - file
              - tracing
              - stt
              - tts
              - ocr
            default: llm
        - name: model
          in: query
          required: false
          description: Narrows the counter to a single resource (model) key.
          schema:
            type: string
        - name: scope
          in: query
          required: false
          description: "`scope=token` narrows the counter to the calling API token. Any other value reports the tenant-level window."
          schema:
            type: string
      responses:
        "200":
          description: Current usage versus configured limits per window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendBudgetStatus"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /budgets/{budgetId}:
    patch:
      tags:
        - Spend
      summary: Update a budget
      description: Update a budget policy. Requires an owner or admin token. Only the supplied fields are changed; omitted fields keep their existing value. The `-1`-for-unlimited rule applies to the limit fields. A `budgetId` that does not resolve to a budget policy in the project returns 404.
      operationId: updateBudget
      parameters:
        - name: budgetId
          in: path
          required: true
          description: The budget policy id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpendBudgetUpdateRequest"
      responses:
        "200":
          description: The updated budget object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendBudget"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags:
        - Spend
      summary: Delete a budget
      description: Remove a budget policy. Requires an owner or admin token. Returns 404 if the id is not a budget policy in the project.
      operationId: deleteBudget
      parameters:
        - name: budgetId
          in: path
          required: true
          description: The budget policy id.
          schema:
            type: string
      responses:
        "200":
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpendBudgetDeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /chat/completions:
    post:
      tags:
        - Chat
      summary: Create chat completion
      description: "OpenAI-compatible chat completion endpoint. Supports function/tool calling and standard OpenAI sampling parameters. When `stream` is `true` the response is a `text/event-stream` of `chat.completion.chunk` SSE events terminated by a `data: [DONE]` line; otherwise a single JSON `chat.completion` object is returned."
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
            examples:
              basic:
                summary: Basic chat completion
                value:
                  model: gpt-4
                  messages:
                    - role: system
                      content: You are a helpful assistant.
                    - role: user
                      content: What is the capital of France?
                  temperature: 0.7
                  max_tokens: 1000
              streaming:
                summary: Streaming completion
                value:
                  model: gpt-4
                  messages:
                    - role: user
                      content: Tell me a story
                  stream: true
      responses:
        "200":
          description: Successful completion. A JSON `chat.completion` object when not streaming, or a Server-Sent Events stream when `stream` is `true`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
            text/event-stream:
              schema:
                type: string
                description: "Server-sent events stream of `chat.completion.chunk` objects, one per `data:` line, ending with `data: [DONE]`."
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /config/groups:
    get:
      tags:
        - Config
      summary: List config groups
      description: Lists configuration groups scoped to the authenticated tenant and project. Supports optional filtering by search term and tags.
      operationId: listConfigGroups
      parameters:
        - name: search
          in: query
          required: false
          description: Search by name, key, or description.
          schema:
            type: string
        - name: tags
          in: query
          required: false
          description: Comma-separated tag filter.
          schema:
            type: string
      responses:
        "200":
          description: List of config groups.
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConfigGroup"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags:
        - Config
      summary: Create config group
      description: Creates a new configuration group. A `key` is auto-generated from the name if omitted.
      operationId: createConfigGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigGroupCreateRequest"
      responses:
        "201":
          description: The created config group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  group:
                    $ref: "#/components/schemas/ConfigGroup"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"
  /config/groups/{groupKey}:
    get:
      tags:
        - Config
      summary: Get config group with items
      description: Returns the config group identified by `groupKey` along with all of its items. Secret values are masked.
      operationId: getConfigGroup
      parameters:
        - name: groupKey
          in: path
          required: true
          description: Unique key of the config group.
          schema:
            type: string
      responses:
        "200":
          description: The config group with its items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  group:
                    $ref: "#/components/schemas/ConfigGroupWithItems"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      tags:
        - Config
      summary: Update config group
      description: Updates mutable fields of the config group identified by `groupKey`. All fields are optional.
      operationId: updateConfigGroup
      parameters:
        - name: groupKey
          in: path
          required: true
          description: Unique key of the config group.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigGroupUpdateRequest"
      responses:
        "200":
          description: The updated config group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  group:
                    $ref: "#/components/schemas/ConfigGroup"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags:
        - Config
      summary: Delete config group
      description: Permanently removes the config group identified by `groupKey` and all of its items. Audit log entries are recorded.
      operationId: deleteConfigGroup
      parameters:
        - name: groupKey
          in: path
          required: true
          description: Unique key of the config group.
          schema:
            type: string
      responses:
        "200":
          description: Deletion succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /config/groups/{groupKey}/items:
    get:
      tags:
        - Config
      summary: List items in a group
      description: Lists the config items that belong to the group identified by `groupKey`. Supports filtering by secret flag, tags, and search term.
      operationId: listConfigGroupItems
      parameters:
        - name: groupKey
          in: path
          required: true
          description: Unique key of the config group.
          schema:
            type: string
        - name: isSecret
          in: query
          required: false
          description: Filter by secret / non-secret items.
          schema:
            type: boolean
        - name: tags
          in: query
          required: false
          description: Comma-separated tag filter.
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: Search by name, key, or description.
          schema:
            type: string
      responses:
        "200":
          description: List of config items in the group.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConfigItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags:
        - Config
      summary: Create config item
      description: Creates a config item inside the group identified by `groupKey`. A `key` is auto-generated from the name if omitted. Secret values are encrypted at rest.
      operationId: createConfigItem
      parameters:
        - name: groupKey
          in: path
          required: true
          description: Unique key of the config group.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigItemCreateRequest"
      responses:
        "201":
          description: The created config item.
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    $ref: "#/components/schemas/ConfigItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"
  /config/items:
    get:
      tags:
        - Config
      summary: List config items
      description: Lists config items across the tenant and project. Supports filtering by group, secret flag, tags, and search term. Secret values are masked.
      operationId: listConfigItems
      parameters:
        - name: groupId
          in: query
          required: false
          description: Filter items by the parent group id.
          schema:
            type: string
        - name: isSecret
          in: query
          required: false
          description: Filter by secret / non-secret items.
          schema:
            type: boolean
        - name: tags
          in: query
          required: false
          description: Comma-separated tag filter.
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: Search by name, key, or description.
          schema:
            type: string
      responses:
        "200":
          description: List of config items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConfigItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /config/items/{key}:
    get:
      tags:
        - Config
      summary: Get config item
      description: Returns the config item identified by `key`. Secret values are masked (shown as bullet characters).
      operationId: getConfigItem
      parameters:
        - name: key
          in: path
          required: true
          description: Unique key of the config item.
          schema:
            type: string
      responses:
        "200":
          description: The config item.
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    $ref: "#/components/schemas/ConfigItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      tags:
        - Config
      summary: Update config item
      description: Updates mutable fields of the config item identified by `key`. All fields are optional. When updating a secret value, the new value is encrypted automatically.
      operationId: updateConfigItem
      parameters:
        - name: key
          in: path
          required: true
          description: Unique key of the config item.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigItemUpdateRequest"
      responses:
        "200":
          description: The updated config item.
          content:
            application/json:
              schema:
                type: object
                properties:
                  item:
                    $ref: "#/components/schemas/ConfigItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags:
        - Config
      summary: Delete config item
      description: Permanently removes the config item identified by `key`. An audit log entry is recorded.
      operationId: deleteConfigItem
      parameters:
        - name: key
          in: path
          required: true
          description: Unique key of the config item.
          schema:
            type: string
      responses:
        "200":
          description: Deletion succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /config/items/{key}/audit:
    get:
      tags:
        - Config
      summary: List config item audit logs
      description: Returns the audit trail for the config item identified by `key`, including create, read, update, and delete actions.
      operationId: listConfigItemAudit
      parameters:
        - name: key
          in: path
          required: true
          description: Unique key of the config item.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of log entries to return (capped at 100).
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: skip
          in: query
          required: false
          description: Number of log entries to skip for pagination.
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Audit log entries for the config item.
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConfigAuditLog"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /config/resolve:
    post:
      tags:
        - Config
      summary: Resolve config values
      description: Returns decrypted values for the requested config keys. Maximum 50 keys per request. Read actions are recorded in the audit trail.
      operationId: resolveConfigValues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigResolveRequest"
      responses:
        "200":
          description: Map of config key to its resolved value.
          content:
            application/json:
              schema:
                type: object
                properties:
                  configs:
                    type: object
                    additionalProperties:
                      $ref: "#/components/schemas/ConfigResolvedValue"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/crawlers:
    get:
      tags:
        - Crawler
      summary: List crawlers
      description: Lists saved crawler profiles for the token's tenant/project, optionally filtered by status and a name/key search.
      operationId: listCrawlers
      parameters:
        - name: status
          in: query
          required: false
          description: Filter by crawler status.
          schema:
            type: string
            enum:
              - active
              - disabled
        - name: search
          in: query
          required: false
          description: Match on crawler name or key.
          schema:
            type: string
      responses:
        "200":
          description: The matching crawlers.
          content:
            application/json:
              schema:
                type: object
                required:
                  - crawlers
                properties:
                  crawlers:
                    type: array
                    items:
                      $ref: "#/components/schemas/Crawler"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags:
        - Crawler
      summary: Create crawler
      description: Creates a saved crawler profile holding crawl configuration (engine, depth/page limits, scope filters, HTTP options, Knowledge Engine binding, webhook, schedule).
      operationId: createCrawler
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrawlerCreateInput"
      responses:
        "201":
          description: The created crawler.
          content:
            application/json:
              schema:
                type: object
                required:
                  - crawler
                properties:
                  crawler:
                    $ref: "#/components/schemas/Crawler"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/crawlers/{idOrKey}:
    get:
      tags:
        - Crawler
      summary: Get crawler
      description: Fetches a single crawler by its id or its key.
      operationId: getCrawler
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: The crawler id or its key.
          schema:
            type: string
      responses:
        "200":
          description: The crawler.
          content:
            application/json:
              schema:
                type: object
                required:
                  - crawler
                properties:
                  crawler:
                    $ref: "#/components/schemas/Crawler"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      tags:
        - Crawler
      summary: Update crawler
      description: Partial update of a crawler. Accepts the same fields as create plus status. Set rag, webhook, or schedule to null to clear them.
      operationId: updateCrawler
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: The crawler id or its key.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrawlerUpdateInput"
      responses:
        "200":
          description: The updated crawler.
          content:
            application/json:
              schema:
                type: object
                required:
                  - crawler
                properties:
                  crawler:
                    $ref: "#/components/schemas/Crawler"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags:
        - Crawler
      summary: Delete crawler
      description: Deletes a crawler by its id or key.
      operationId: deleteCrawler
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: The crawler id or its key.
          schema:
            type: string
      responses:
        "204":
          description: The crawler was deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/crawlers/{idOrKey}/crawl:
    post:
      tags:
        - Crawler
      summary: Crawl URLs on a crawler
      description: Crawls an explicit set of URLs using a saved crawler's config - 'give me the Markdown for these URLs'. Functionally a run with required urls. Defaults to async (202 + jobId); pass mode=sync to block until the crawl finishes and inline the final job state and results.
      operationId: crawlOnContainer
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: The crawler id or its key.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrawlerCrawlInput"
      responses:
        "200":
          description: "Sync mode: the finished job state with its results inlined."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlerRunSyncResult"
        "202":
          description: "Async mode: the job was enqueued."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlerRunAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/crawlers/{idOrKey}/run:
    post:
      tags:
        - Crawler
      summary: Run crawler
      description: Runs a saved crawler, enqueuing a job using the crawler's config. Optionally override the saved URL list for this run. Defaults to async (202 + jobId); pass mode=sync to block until the crawl finishes and inline the final job state and results.
      operationId: runCrawler
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: The crawler id or its key.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrawlerRunOptions"
      responses:
        "200":
          description: "Sync mode: the finished job state with its results inlined."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlerRunSyncResult"
        "202":
          description: "Async mode: the job was enqueued."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlerRunAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/crawlers/{idOrKey}/urls:
    get:
      tags:
        - Crawler
      summary: List crawler URLs
      description: Lists the crawler's saved URL list. A crawler is a container, so URLs can be managed independently of runs.
      operationId: listCrawlerUrls
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: The crawler id or its key.
          schema:
            type: string
      responses:
        "200":
          description: The crawler's saved URL list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - urls
                properties:
                  urls:
                    type: array
                    items:
                      type: string
                      format: uri
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    post:
      tags:
        - Crawler
      summary: Add crawler URLs
      description: Adds URLs to the crawler's saved URL list and returns the updated list.
      operationId: addCrawlerUrls
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: The crawler id or its key.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrawlerUrlsBody"
      responses:
        "200":
          description: The updated URL list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - urls
                properties:
                  urls:
                    type: array
                    items:
                      type: string
                      format: uri
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags:
        - Crawler
      summary: Remove crawler URLs
      description: Removes URLs from the crawler's saved URL list and returns the updated list.
      operationId: removeCrawlerUrls
      parameters:
        - name: idOrKey
          in: path
          required: true
          description: The crawler id or its key.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrawlerUrlsBody"
      responses:
        "200":
          description: The updated URL list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - urls
                properties:
                  urls:
                    type: array
                    items:
                      type: string
                      format: uri
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/jobs:
    get:
      tags:
        - Crawler
      summary: List jobs
      description: Lists crawl jobs for the token's tenant/project, optionally filtered by parent crawler, status, and a result limit.
      operationId: listCrawlJobs
      parameters:
        - name: crawlerKey
          in: query
          required: false
          description: Filter by parent crawler key.
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: Filter by job status.
          schema:
            type: string
            enum:
              - queued
              - running
              - succeeded
              - partial
              - failed
              - canceled
        - name: limit
          in: query
          required: false
          description: Maximum number of jobs to return.
          schema:
            type: integer
      responses:
        "200":
          description: The matching jobs.
          content:
            application/json:
              schema:
                type: object
                required:
                  - jobs
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: "#/components/schemas/CrawlerJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/jobs/{jobId}:
    get:
      tags:
        - Crawler
      summary: Get job
      description: Returns a single crawl job including counters, its frozen planSnapshot, and any errorMessage.
      operationId: getCrawlJob
      parameters:
        - name: jobId
          in: path
          required: true
          description: The crawl job id.
          schema:
            type: string
      responses:
        "200":
          description: The crawl job.
          content:
            application/json:
              schema:
                type: object
                required:
                  - job
                properties:
                  job:
                    $ref: "#/components/schemas/CrawlerJob"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/jobs/{jobId}/cancel:
    post:
      tags:
        - Crawler
      summary: Cancel job
      description: Requests cancellation of a queued or running job. Returns 404 if the job is missing or not cancelable.
      operationId: cancelCrawlJob
      parameters:
        - name: jobId
          in: path
          required: true
          description: The crawl job id.
          schema:
            type: string
      responses:
        "200":
          description: Cancellation was requested.
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                properties:
                  ok:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/jobs/{jobId}/results:
    get:
      tags:
        - Crawler
      summary: List job results
      description: Lists the results (fetched pages/files) for a crawl job. Each html result carries its extracted bodyMarkdown.
      operationId: listCrawlJobResults
      parameters:
        - name: jobId
          in: path
          required: true
          description: The crawl job id.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: Filter by result type.
          schema:
            type: string
            enum:
              - html
              - file
              - error
        - name: limit
          in: query
          required: false
          description: Page size.
          schema:
            type: integer
            default: 100
        - name: skip
          in: query
          required: false
          description: Offset.
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: The job's results.
          content:
            application/json:
              schema:
                type: object
                required:
                  - results
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/CrawlerResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/jobs/{jobId}/results/{resultId}:
    get:
      tags:
        - Crawler
      summary: Get job result
      description: Returns a single crawl result by its id.
      operationId: getCrawlResult
      parameters:
        - name: jobId
          in: path
          required: true
          description: The crawl job id.
          schema:
            type: string
        - name: resultId
          in: path
          required: true
          description: The result id.
          schema:
            type: string
      responses:
        "200":
          description: The crawl result.
          content:
            application/json:
              schema:
                type: object
                required:
                  - result
                properties:
                  result:
                    $ref: "#/components/schemas/CrawlerResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /crawler/run:
    post:
      tags:
        - Crawler
      summary: Ad-hoc crawl
      description: Starts a one-off crawl without saving a crawler. The resulting job has no crawlerKey. Always enqueues (202); pass mode=sync to request a blocking run.
      operationId: runAdhocCrawl
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrawlerAdhocRunInput"
      responses:
        "202":
          description: The ad-hoc job was enqueued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CrawlerRunAccepted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /embeddings:
    post:
      tags:
        - Embeddings
      summary: Create embeddings
      description: OpenAI-compatible embeddings endpoint that converts one or more text inputs into vector representations. Returns a single non-streaming JSON `list` object containing one embedding per input.
      operationId: createEmbeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmbedEmbeddingRequest"
            examples:
              single:
                summary: Single input
                value:
                  model: text-embedding-3-small
                  input: The quick brown fox jumps over the lazy dog
              batch:
                summary: Batch input
                value:
                  model: text-embedding-3-small
                  input:
                    - Hello world
                    - How are you?
                    - Embedding example
      responses:
        "200":
          description: Successful embedding response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmbedEmbeddingResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /evaluation/runs:
    get:
      tags:
        - Evaluation
      summary: List evaluation runs
      description: List evaluation runs for the token's project, newest first. Returns run summaries (aggregate only, no per-item breakdown). Fetch a single run by id for the full per-item scores.
      operationId: listEvaluationRuns
      parameters:
        - name: suite_key
          in: query
          required: false
          description: Filter runs to a single suite by its key.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of runs to return. Positive integers only; clamped to a maximum of 200.
          schema:
            type: integer
            minimum: 1
            maximum: 200
      responses:
        "200":
          description: Evaluation run summaries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  runs:
                    type: array
                    items:
                      $ref: "#/components/schemas/EvalRunSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /evaluation/runs/{id}:
    get:
      tags:
        - Evaluation
      summary: Get an evaluation run
      description: Fetch a single evaluation run by id, including its aggregate and the full per-item scores.
      operationId: getEvaluationRun
      parameters:
        - name: id
          in: path
          required: true
          description: Evaluation run identifier.
          schema:
            type: string
      responses:
        "200":
          description: The evaluation run with per-item scores.
          content:
            application/json:
              schema:
                type: object
                properties:
                  run:
                    $ref: "#/components/schemas/EvalRun"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /evaluation/suites:
    get:
      tags:
        - Evaluation
      summary: List evaluation suites
      description: List the evaluation suites configured for the token's project. A suite binds a target (what to test) + a dataset (the test cases) + one or more scorers. Read- and trigger-oriented surface for CI/automation; suite authoring stays on the dashboard surface. Fields are snake_case.
      operationId: listEvaluationSuites
      responses:
        "200":
          description: The configured evaluation suites.
          content:
            application/json:
              schema:
                type: object
                properties:
                  suites:
                    type: array
                    items:
                      $ref: "#/components/schemas/EvalSuite"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"
  /evaluation/suites/{key}/run:
    post:
      tags:
        - Evaluation
      summary: Run an evaluation suite
      description: Run the named suite synchronously over its dataset and return the completed, scored run. Unlike the asynchronous dashboard surface, this token-authenticated client surface blocks until the run finishes and returns HTTP 201 with the completed run (aggregate + per-item scores). The suite, its target and its dataset must already exist. A target/judge error on an item is recorded on that item and counted in aggregate.failed; it does not abort the run.
      operationId: runEvaluationSuite
      parameters:
        - name: key
          in: path
          required: true
          description: Key of the suite to run.
          schema:
            type: string
      responses:
        "201":
          description: The completed evaluation run.
          content:
            application/json:
              schema:
                type: object
                properties:
                  run:
                    $ref: "#/components/schemas/EvalRun"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /files/buckets:
    get:
      tags:
        - Files
      summary: List file buckets
      description: List all file storage buckets for the current tenant/project.
      operationId: listFileBuckets
      responses:
        "200":
          description: List of buckets
          content:
            application/json:
              schema:
                type: object
                properties:
                  buckets:
                    type: array
                    items:
                      $ref: "#/components/schemas/FileBucket"
                  count:
                    type: integer
                    example: 3
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /files/buckets/{bucketKey}:
    get:
      tags:
        - Files
      summary: Get file bucket
      description: Get details of a specific file bucket.
      operationId: getFileBucket
      parameters:
        - name: bucketKey
          in: path
          required: true
          description: Unique bucket identifier.
          schema:
            type: string
      responses:
        "200":
          description: Bucket details
          content:
            application/json:
              schema:
                type: object
                properties:
                  bucket:
                    $ref: "#/components/schemas/FileBucket"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
[...]
