.filterControlSm {
  min-width: 11.25rem;
}

.filterControlMd {
  min-width: 16.25rem;
}

.filterControlXs {
  min-width: 8.75rem;
}

.filterActions {
  align-self: flex-end;
}

.codeGrow {
  flex: 1;
}

.snapshotCode {
  max-height: 31.25rem;
  overflow: auto;
}

.diffCode {
  white-space: pre-wrap;
  word-break: break-all;
}

@media (max-width: 48em) {
  .filterControlSm,
  .filterControlMd,
  .filterControlXs {
    min-width: 100%;
  }

  .filterActions {
    width: 100%;
  }
}
